:root {
  --bg-color-dark: rgb(46, 46, 46);
  --color-gray: rgb(192, 192, 192);
}

/* Base */
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: sans-serif;
}

h1 {
  font-size: 6.4rem;
  color: var(--color-gray);
}

h2 {
  color: var(--color-gray);
  font-size: 2.4rem;
  max-width: 40rem;
  font-weight: 500;
  margin-top: 64px;
}

@media (max-width: 768px) {
  h2 {
    max-width: 100%;
  }
}

section {
  min-height: 100vh;
  background-color: var(--bg-color-dark);
}

/* Helpers */
.p-5 {
  padding: 64px;
}

.mt-5 {
  margin-top: 64px;
}

.text-center {
  text-align: center;
}

/* Slide Style */
.video-slide {
  display: flex;
  padding: 24px;
  justify-content: center;
}

@media (max-width: 768px) {
  .video-slide {
    flex-direction: column;
    align-items: center;
    row-gap: 32px;
  }
}

.container-custom-arrows {
  position: absolute;
  bottom: 48px;
  transition: 0.2s;
  z-index: 1;
}

@media (max-width: 768px) {
  .container-custom-arrows {
    bottom: 0;
    left: 50%;
    transform: translate(0, -50%);
  }
}

.custom-video-arrow {
  padding: 24px;
  background-color: #4e535f;
  opacity: 0.8;
  transition: 0.2s;
}

.custom-video-arrow svg {
  fill: #fff;
  width: 21px;
  height: 21px;
}

.custom-video-arrow--disabled {
  opacity: 0.1;
  cursor: default;
}

.custom-video-arrow--disabled:hover {
  opacity: 0.1;
}

.custom-video-arrow svg {
  position: absolute;
}

.custom-video-arrow--right {
  left: 48px;
}

.custom-video-arrow--left {
  left: -48px;
}
